@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.map-container {
  position: relative;
  min-width: 75%vw;
  min-height: 400px;
  padding-left: 10%;
  padding-right: 10%;
}

.autocomplete-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  z-index: 1000;
}

.autocomplete-container {
  position: relative;
}

#map {
  width:'400px' ;
  height: '400px';
 
}

.autocomplete-container input.geoapify-autocomplete-input {
  margin-bottom:0;
  height:36px;
}

.navbar-brand {
 font-size: 50px;
}

body {
  background-color: rgba(0, 0, 0, 0.89);
}

#Hotels{
font-size: 30px;
color: green;
font-weight: bold;
}

#Entertainment {
  font-size: 30px;
  color: green;
  font-weight: bold;
}

#Breweries {
  font-size:30px;
  color:green;
  font-weight: bold;
}

#breweries-ul {
  color: whitesmoke;
  
}

#entertainment-ul {
  color:whitesmoke;
  
}
